.logo{
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo{
        width: 300px;
    }
}

.logo img {
    max-height: 26px;
    margin-right: 3px;
}



.home-icon {
    width: 44px;
    height: 40px;
    /* background-color: rgb(228, 235, 243); */
}
.home-icon {
    background-image: url("../../../../images/logo-main-1.png")
}
.header-top1, .header-top2 {
    font-weight: 700;
    font-family: Arial, sans-serif;
    display: block;
}

.header-top1 {
    color: #73818f;
    font-size: 12px;
    padding-top: 8px;
}
.header-top2 {
    color: #26408b;
    font-size: 16px;
}
.header-top1, .header-top2 {
    font-weight: 700;
    font-family: Arial, sans-serif;
    display: block;
}